<div class="grid-container">
  <h1 class="center">Home</h1>

  <div class="center">
    <mat-form-field>
    <input matInput type="text" class="form-control" id="locationInput" name="locationInput" [(ngModel)]="locationInput" placeholder="City, State">
    </mat-form-field>
    <button mat-raised-button (click)="checkUserInput()">Get Current Forecast</button>
  </div>


  <mat-grid-list cols="5" rowHeight="2:4">
    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{currentTitle}}
            <h3></h3>
            <p class="weather-value-fields">{{temp[0]}}</p>
            <p class="weather-value-fields">{{feelsLike[0]}}</p>
            <p class="weather-value-fields">{{windSpeed[0]}}</p> 
            <p class="weather-value-fields">{{sunrise[0]}}</p>
            <p class="weather-value-fields">{{sunset[0]}}</p>
            <p class="weather-value-fields">{{humidity[0]}}</p>
            <p class="weather-value-fields">{{visibility[0]}}</p>
            
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{today[1]}}
            <h3></h3>
            <p class="weather-value-fields">{{high[1]}}</p>
            <p class="weather-value-fields">{{low[1]}}</p>
            <p class="weather-value-fields">{{windSpeed[1]}}</p> 
            <p class="weather-value-fields">{{sunrise[1]}}</p>
            <p class="weather-value-fields">{{sunset[1]}}</p>
            <p class="weather-value-fields">{{humidity[1]}}</p>
            <p class="weather-value-fields">{{visibility[1]}}</p>
            
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{today[2]}}
            <h3></h3>
            <p class="weather-value-fields">{{high[2]}}</p>
            <p class="weather-value-fields">{{low[2]}}</p>
            <p class="weather-value-fields">{{windSpeed[2]}}</p> 
            <p class="weather-value-fields">{{sunrise[2]}}</p>
            <p class="weather-value-fields">{{sunset[2]}}</p>
            <p class="weather-value-fields">{{humidity[2]}}</p>
            <p class="weather-value-fields">{{visibility[2]}}</p>
            
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{today[3]}}
            <h3></h3>
            <p class="weather-value-fields">{{high[3]}}</p>
            <p class="weather-value-fields">{{low[3]}}</p>
            <p class="weather-value-fields">{{windSpeed[3]}}</p> 
            <p class="weather-value-fields">{{sunrise[3]}}</p>
            <p class="weather-value-fields">{{sunset[3]}}</p>
            <p class="weather-value-fields">{{humidity[3]}}</p>
            <p class="weather-value-fields">{{visibility[3]}}</p>
            
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{today[4]}}
            <h3></h3>
            <p class="weather-value-fields">{{high[4]}}</p>
            <p class="weather-value-fields">{{low[4]}}</p>
            <p class="weather-value-fields">{{windSpeed[4]}}</p> 
            <p class="weather-value-fields">{{sunrise[4]}}</p>
            <p class="weather-value-fields">{{sunset[4]}}</p>
            <p class="weather-value-fields">{{humidity[4]}}</p>
            <p class="weather-value-fields">{{visibility[4]}}</p>
            
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>
