

<div class="grid-container">
  <h1 class="mat-h1">Home</h1>
  <input type= "text"  (keyup)="getVal($event)" id = "locationInput" />
  <button mat-raised-button (click)="getCurrentWeather()">Get Current Forecast</button>
  <mat-grid-list cols="5" rowHeight="2:4">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <h3></h3>
            <p>{{temp}}</p>
            <p>{{feelsLike}}</p>
            <p>{{windSpeed}}</p> 
            <p>{{sunrise}}</p>
            <p>{{sunset}}</p>
            <p>{{humidity}}</p>
            <p>{{visibility}}</p>
            
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
