<div class="grid-container">

    <!-- adding some space here-->
    <p></p>
    <p></p>
    <p></p>

    <h1 class="mat-h1">Create A New Profile</h1>
    <mat-form-field>
        <input matInput type="text" class="form-control" id="profileNameInput" name="profileNameInput" [(ngModel)]="profileNameInput" placeholder="Enter Profile Name">
        </mat-form-field>
        <br/>

        <mat-grid-list cols="2" rowHeight = "1:2" >
        <mat-grid-tile>
            <mat-card class = "dashboard-card">
            <p>Profile Settings</p> 
            
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


        <br/>
        <button mat-raised-button>Submit</button>
</div>